<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ffcs.mapper.TbOrganizationMapper" >
  <resultMap id="BaseResultMap" type="cn.ffcs.model.TbOrganization" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
     <result column="status" property="status" jdbcType="INTEGER" />
    <result column="org_address" property="orgAddress" jdbcType="VARCHAR" />
    <result column="fixed_telephone" property="fixedTelephone" jdbcType="VARCHAR" />
    <result column="org_phone" property="orgPhone" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="insert_date" property="insertDate" jdbcType="DATE" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
  </resultMap>
</mapper>